/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


/* NAVBAR */


.navbar {
    /* Safari */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100;
    background: rgba(255, 255, 255, 0);
    padding: 30px 0;
    font-family: 'Ubuntu',
        sans-serif;
    transition: .5s ease;
}

.navbar.sticky {
    padding: 30px 0;
    background: #027c6c2f;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: #027c6cd3;
    font-size: 35px;
    font-weight: 900;
    transition: color 3s ease;
}


.navbar.sticky .logo a {
    color:#636363d3;
    font-size: 35px;
    font-weight: 600;
    transition: all 3s ease;

}


.navbar .logo a span {
    color:#636363d3;
    transition: color 6s ease;
    transition: all 5s ease;

}

.navbar.sticky .logo a span {
    color: rgb(255, 255, 255);
    transition: all 6s ease;

}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: #027c6cd3;
    font-size: 19px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
    letter-spacing: 3px;
}

.navbar .menu li a:hover {
    color: #636363d3;
    transition: all 1s ease;

}

.navbar.sticky .menu li a {
    color: #636363d3;
    transition: all 1.2s ease;

}

.navbar.sticky .menu li a:hover {
    color: rgb(255, 255, 255);
}

.menu-btn {

    font-size: 30px;
    cursor: pointer;
    display: none;
}

.menu-btn div {
    width: 28px;
    height: 4px;
    background-color: #636363d3;
    font-size: 20px;
    margin: 7px;
    transition: all 1.3s ease;
}

.menu-btn:hover {
    background-color: #027c6cd3;
}

/* building out a animation */
.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
        /* adds movement */
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }

}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}